body {
  background: radial-gradient(#eacfaa, #dea865, #a56a21);
}
.buttons {
  background-color: #b7a367;
  border-color: #634800;
}
.buttons:hover {
  background-color: #634f00;
  border-color: #b79d67;
}
.appearingDivs {
  background-color: rgba(113, 100, 30, 0.55);
  border-color: #5d3005;
}